fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-toml
      - id: end-of-file-fixer # Makes sure files end in a newline and only a newline.
      - id: trailing-whitespace # 移除尾部空格符
        args: [--markdown-linebreak-ext=md]
      - id: check-added-large-files  # 定义的hook脚本，在repo的.pre-commit-hooks.yaml中定义
        args: ['--maxkb=4096']
      - id: trailing-whitespace  # 移除尾部空格符
        args: [--markdown-linebreak-ext=md]  # 传入参数，不处理markdown
      - id: check-merge-conflict  # 检查是否含有合并冲突符号
      #- id: check-yaml
      #  args: [--allow-multiple-documents]
      - id: check-json
        exclude: ^.devcontainer/devcontainer.json$
      - id: check-symlinks
      - id: mixed-line-ending
      - id: check-case-conflict
#      - id: check-executables-have-shebangs
#      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/pre-commit-ci/pre-commit-ci-config
    rev: v1.6.1
    hooks:
      - id: check-pre-commit-ci-config

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
        name: Git Commit Message Linter
        entry: gitlint
        types: [gitlint]
        language: python
      - id: gitlint-ci

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        alias: md
        name: Lint Markdown files
        #        args:
        #          - -f -c .github/linters/markdownlint.yml -i node_modules .
        entry: markdownlint -f -c .github/linters/markdownlint.yml -i node_modules .
        types: [markdown]
        language: node

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        name: Lint YAML files
        entry: yamllint -c .github/linters/yamllint.yml .
        types: [yaml]
        language: python

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
        name: Scan Secrets
        entry: gitleaks detect --source . -v

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.92.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-diff
      - id: terraform_docs
      - id: terraform_tflint

  #  - repo: local
  #    hooks:
  #      - id: dashboard-linter
  #        name: dashboard-linter
  #        entry: leeway run components/dashboard:lint
  #        language: system
  #        pass_filenames: false
  #        files: ^components/dashboard/

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.59.1
    hooks:
      - id: golangci-lint-config-verify
#      - id: golangci-lint
#        entry: golangci-lint run --fix
#        types: [go]
#        language: golang
#      - id: golangci-lint-full


#  - repo: https://github.com/lietu/go-pre-commit
#    rev: v0.1.0
#    hooks:
#      - id: errcheck
#      - id: go-fmt-goimports
#      - id: go-test
#      - id: go-vet
#        entry: go vet -vettool=$(which shadow) -strict
#      - id: gofumpt
#        entry: gofumpt -l -w .
#      - id: golangci-lint
#      - id: golint
#      - id: staticcheck
#      - id: go-mod-tidy


#  - repo: local
#    hooks:
#      - id: fieldalignment
#        name: fieldalignment
#        types: [go]
#        entry: fieldalignment -fix ./...
#        language: golang
#      - id: betteralign
#        entry: betteralign -apply ./...
#      - id: go-test
#        name: go-test
#        entry: go test `go list ./... | grep -v examples` -coverprofile=coverage.out -covermode=atomic
#        language: golang
#      - id: nilaway
#        name: nilaway
#        entry: nilaway ./...
#        language: golang
