# Newsletter · 第{{.WeekNumber}}周

{{- range .Feeds }}
## {{.Category}} · {{len .Items}} 篇
{{- if .Items }}
{{- range .Items }}
- [{{.Title}}]({{.Link}})
{{- end }}
{{- else }}
- 暂无更新
{{- end }}

---
{{- end }}

## Dashboard Overview

{{- if .DashboardConfig.IsShowFetchFailedFeeds }}
### Failed Feeds
{{- if .DashboardData.FailedFeeds }}
{{- range .DashboardData.FailedFeeds }}
- [{{.URL}}]({{.URL}})
{{- end }}
{{- else }}
- ✅ 暂无失败
{{- end }}

{{- end }}

{{- if .DashboardConfig.IsShowFeedDetail }}
### Feed Details
{{- range .DashboardData.FeedDetails }}
#### {{.Type}} · {{len .URLs}} 个源
{{- range .URLs }}
- [{{.Des}}]({{.URL}})
{{- end }}

{{- end }}
{{- end }}
